server:
   servlet:
     context-path: /
   port: 8080
spring:
 application:
   name: PManager
 jackson:
    default-property-inclusion: non_null
 datasource:
   url: jdbc:h2:mem:test
   driverClassName: org.h2.Driver
   username: sa
   password:
 h2:
    console:
      enable: true
 jpa:
    show-sql: true
